body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}
/* Header-section */
.my-header .navbar-brand{
    font-weight: 600;
}
.primary-manu .nav-item.dropdown:hover > .dropdown-menu{
    display: block;
    border: none;
}
.my-header .navbar-brand span {
    color: #77a1fe;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}
/* conter-section */
.conter-section{
    background-color: #8490ff;
}
/* Prizing-table-section */
.prizing-item .card .card-body span {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: #f9f9ff;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
}
.prizing-item .card .card-body ul{
    list-style: none;
}
.prizing-item .card .card-body ul li {
    margin: 20px 0;
    font-size: 20px;
    color: #8c8c92;
}
/* Team-section-start */
.team-section .card img {
    width: 100px;
    margin-top: -50px;
    margin-left: 15px;
    height: auto;
}
.team-section .card .btn{
    border: none;
}
/* Contact-us-sectio */
.form-item .card{
    padding: 30px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
/* footer-section */
.footer-section{
    background-color: #04091e;
    padding-bottom: 0 !important;
}

/* Responsive Css Star.............. */
@media (max-width:992px) {
    .about-title.mt-5 {
        margin-top: 0 !important;
    }
}